.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: 14px;
}

.left-column {
  justify-self: center;
  text-align: center;
  margin-left: 50px;
  line-height: 27px;
}

.middle-column {
  justify-self: center;
  align-self: center;
  margin-left: 30px;
}

.right-column {
  justify-self: center;
  text-align: center;
  margin-right: 50px;
  line-height: 27px;
}

.main-temp {
  font-size: 50px;
}

.day-time {
  padding-top: 10px;
}
